@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import './helm-ui.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.prose :where(code):not(:where([class~="not-prose"] *))::before {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.prose :where(code):not(:where([class~="prism-code"] *)) {
  color: var(--tw-prose-code);
  font-family: monospace;
  font-weight: 400;
  /* font-size: 0.875em; */
  background-color: rgb(0 0 0 / 10%);
  border-radius: 0.3em;
  padding: 4px 5px;
  white-space: nowrap;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.inserted {
  @apply text-green-600;
}

.deleted {
  @apply text-red-600;
}

.ctaButton {
  @apply inline-block rounded-md px-4 py-1.5 text-base font-semibold leading-7 bg-blue-500 dark:bg-blue-800 hover:bg-blue-400 dark:hover:bg-blue-900 focus:outline-none items-center text-white dark:text-neutral-100 transition ease-in-out duration-150 text-nowrap
}

.secondaryCtaButton {
  @apply inline-block rounded-md px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 dark:text-gray-300 ring-1 ring-gray-900/10 dark:ring-gray-100/10 hover:ring-gray-900/20 dark:hover:bg-neutral-800
}

.subheading {
  @apply text-3xl font-bold tracking-tight sm:text-center sm:text-4xl
}